.link{
    display: block;
    color: var(--text-white);
    border: 0;
    margin-bottom: 18px;
    padding: 0 24px;
}
.logo{
    width: 50%;
    max-width: 131px;
    height: 10px;
    width: 10px;
}